{% extends "layout/navigation.html" %}

{% block corps %}

<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Protéines
        </div>
        <div class="panel-body">
            {% for prot in results %}
                <a href="/proteines/{{prot.name}}">{{prot.name}}</a><br/>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}