{% extends "layout/navigation.html" %}

{% block corps %}

<div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="panel panel-primary">
          <div class="panel-heading">
              Protéine : {{name_prot}}
          </div>
          <div class="panel-body">
              Nombre de voisins : {{neighbours_count}}<br>
              Nombre de voisins de voisins : {{neighbours_neighbours_count}}<br>
          </div>
      </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Graph de la protéine
            </div>
            <div class="panel-body">
                <div class="alchemy" id="alchemy"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Protéine : {{name_prot}}
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Voisins
                </div>
                <div class="panel-body">
                    {% for prot in neighbours %}
                        <a href="/proteines/{{prot.name}}">{{prot.name}}</a><br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Voisins de voisins
                </div>
                <div class="panel-body">
                    {% for prot in neighbours_neighbours %}
                    <a href="/proteines/{{prot.name}}">{{prot.name}}</a><br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='0.4.1/alchemy.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='0.4.1/scripts/vendor.js')}}"></script>

  <script type="text/javascript">

    var config = {
      dataSource: {{graph | safe}},
      forceLocked: false,
      graphHeight: function(){ return 400; },
      graphWidth: function(){ return 700; },
      linkDistancefn: function(){ return 100; },
      nodeTypes: {"role":["neighbours","neighbours of neighbours"]},
      edgeType: {"role":["neighbours","neighbours_neighbours"]},
      nodeStyle: {
        "all": {
            "radius":10,
        },
        "neighbours":{
            "color":"#097905",
            "borderColor":"#097905"
        },
        "neighbours of neighbours":{
            "color":"#F90D0D",
            "borderColor":"#F90D0D"
        }
      },
      edgeStyle: {
        "neighbours": {
            "length":20
        },
        "neighbours_neighbours":{
            "length":5
        }
      },
      zoomControls: true,
      nodeCaptionsOnByDefault: true


    };

    alchemy = new Alchemy(config)
  </script>

{% endblock %}




