{% extends "layout/navigation.html" %}

{% block corps %}

    <div class="col-md-2 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                Accueil
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Chercher une protéine
            </div>
            <div class="panel-body">
                <form method='post'>
                    Par l'identifiant <input type=text name=search value="{{ request.form.search}}"><div class="actions"><input type=submit value="Rechercher"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

