{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}